<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Group Chat</title>
    <style>
        .message, .other-message {
            width: 50%;
            padding: 10px;
            border-radius: 10px;
            margin-top: 10px;
            word-wrap: break-word;
        }

        .message {
            background-color: #DCF8C6;
            float: right;
            text-align: left;
        }

        .other-message {
            background-color: #f2f2f2;
            float: left;
            text-align: left;
        }

        .username {
            font-weight: bold;
            color: #0084ff;
        }

        .time {
            color: #666;
            font-size: 0.8em;
        }

        .input-container {
            position: fixed;
            bottom: 0;
            width: 100%;
            padding: 10px;
            background-color: #f2f2f2;
            display: flex;
            align-items: center;
            left: 0
        }

            .input-container input[type="text"] {
                flex: 1;
                padding: 10px;
                border: none;
                border-radius: 25px;
                background-color: #fff;
                margin-right: 20px;
            }

            .input-container input[type="button"] {
                background-color: #0088cc;
                color: #fff;
                padding: 10px 20px;
                border: none;
                border-radius: 25px;
                margin-right: 20px;
                cursor: pointer;
            }

        #chatroom {
            height: 83vh;
            overflow-y: auto;
        }

        .chat-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: left;
        }

        .back-button {
        }

        .name {
            margin-right: 30px;
        }

    </style>
    <link rel="stylesheet" href="~/css/theme.css">
</head>
<body>
    <div class="chat-header">
        <form method="get" action="/Home/GroupChatList" class="back-button">
            <input type="hidden" name="username" value="@ViewBag.Username" />
            <button type="submit">Go back to group chat list</button>
        </form>
        <h1 class="name">Group Chat @ViewBag.GroupChatName</h1>
    </div>
    <div class="input-container">
        <input type="text" id="message" /><br /><br />
        <input type="button" id="sendBtn" value="Send" disabled="disabled" />
    </div>
    <div id="chatroom"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script src="~/js/theme.js"></script>
    <script>
        const username = '@ViewBag.Username';

        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/chatgrouphub")
            .build();

        document.getElementById("message").addEventListener("keypress", function (e) {
            if (e.key === "Enter") {
                document.getElementById("sendBtn").click();
            }
        });

        document.getElementById("sendBtn").addEventListener("click", function () {
            const message = document.getElementById("message").value;
            const groupChatId = @ViewBag.GroupChatId;

            if (message.trim() !== "") {
                hubConnection.invoke("SendGroupMessage", message, username, groupChatId)
                    .then(function () {
                        document.getElementById("message").value = "";
                    })
                    .catch(function (err) {
                        return console.error(err.toString());
                    });
            }
        });

        hubConnection.on("ReceiveGroupMessage", function (message, username, time) {
            const messageElem = document.createElement("div");
            if (username !== '@ViewBag.Username') {
                messageElem.classList.add("other-message");
            } else {
                messageElem.classList.add("message");
            }

            const usernameElem = document.createElement("span");
            usernameElem.classList.add("username");
            usernameElem.textContent = username;

            const br1 = document.createElement("br");

            const messageTextElem = document.createElement("span");
            messageTextElem.textContent = message;

            const br2 = document.createElement("br");

            const timeElem = document.createElement("span");
            timeElem.classList.add("time");
            const localTime = new Date(time);
            timeElem.textContent = localTime.toLocaleTimeString();

            messageElem.appendChild(usernameElem);
            messageElem.appendChild(br1);
            messageElem.appendChild(messageTextElem);
            messageElem.appendChild(br2);
            messageElem.appendChild(timeElem);

            const chatroom = document.getElementById("chatroom");
            chatroom.appendChild(messageElem);
        });

        hubConnection.start()
            .then(function () {
                document.getElementById("sendBtn").disabled = false;
                hubConnection.invoke("GetGroupChatMessages", @ViewBag.GroupChatId);
                hubConnection.invoke("JoinGroupChat", @ViewBag.GroupChatId);
            })
            .catch(function (err) {
                return console.error(err.toString());
            });

    </script>
</body>
</html>
